
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

.calculator {
  border: 1px solid #ccc;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}

.calculator-screen {
  text-align: right;
  border: none;
  background-color:black;
  text-align: right;
  padding: 10px 20px;
}

.calculator-screen .calculator-result {
  font-size: 5rem;
  background: transparent;
  border-style: none;
  text-align: right;
  width: -webkit-fill-available;
  color: rgb(177, 173, 173);
}

.calculator-screen .calculator-body {
  display: flex;
  font-size:22px;
  color: rgb(177, 173, 173);
  justify-content: flex-end;
  height: 25px;
}

.calculator-screen .calculator-body .sub{
  margin-left: 5px;

}
.calculator-screen .calculator-body .sup{
  margin-right: 5px;
}
button {
  height: 60px;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #c4c4c4;
  background-color: transparent;
  font-size: 2rem;
  color: #333;
 
}

button:hover {
  background-color: #eaeaea;
}

.operator {
  color: #337cac;
}

.all-clear {
  background-color: #f0595f;
  border-color: #b0353a;
  color: #fff;
}

.all-clear:hover {
  background-color: #f17377;
}

.equal-sign {
  background-color: #2e86c0;
  border-color: #337cac;
  color: #fff;
  height: 100%;
  grid-area: 2 / 4 / 6 / 5;
}

.equal-sign:hover {
  background-color: #4e9ed4;
}

.calculator-keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 20px;
}